<div class="session-bg">
    <div class="hero-branding">
      <h1>Restaurant Diary</h1>
    </div>




<section class="login">
<%= form_for :session, url: sessions_path do |f| %>
<div class="sign-in-form" >
  <div class="email">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  

  <div class="password">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div class="submit-button">
  <%= f.submit "Sign In" %>
  </div>
</div>

  
<% end %>
</section>

</div>









