<div class="container">

  <div class="outing-card">
   
   
      <% @outings.each do |outing| %>
        <div class="outing-picture"><%= image_tag outing.outing_picture.variant(resize: '100x100') if outing.outing_picture.attached? %></div>
        <div class="outing-details">
        <h4 class="outing-title"><%= link_to outing.description, outing_path(outing) %></h4>
        <h5 class="outing-description"><%= link_to outing.description, outing_path(outing) %></h5>
            <p class="meeting-date"><strong>Date:</strong> <%=  outing.meeting_date %></p>
            <p class="meeting-time"><strong>Time:</strong> <%=  outing.meeting_time %></p>
            <p class="meeting-total-price"><strong>Price:</strong> <%=  outing.total %></p>
            <p class="meeting-restaurant-name"><strong>Restaurant:</strong> <%=  outing.restaurant.name %></p>
            </div>
      <% end %>
      
    
  </div>
  
  
  

</div>