<h1>Show Outing </h1>

<h3> <%= @outing.description %> </h1>
Meeting Date: <%=  @outing.meeting_date %></br>
Meeting Time: <%=  @outing.meeting_time %></br>
Total Spend: <%=  @outing.total %></br>
Restaurant Name: <%=  @outing.restaurant.name %>
<p>
<p>

<% @food_orders.each do |food_order| %>

  <p>
  Food Name:  <%= food_order.name %><br>
  Food Description: <%= food_order.description %><br>
  Food Price: <%= food_order.price %><br>
  <p>

<% end %>

