<h1>Show Outing </h1>

<p>

<h3> <%= @outing.description %> </h1></br>
Meeting Date: <%=  @outing.meeting_date %></br>
Meeting Time: <%=  @outing.meeting_time %></br>
Total Spend: <%=  @outing.total %></br>
Restaurant Name: <%=  @outing.restaurant.name %></br>
Restaurant ID: <%=  @outing.restaurant.id %>
<p>
<p>

<div class="owner-controls mb-4">
    <% if can?(:crud, @outing) %>
      <%= link_to "Edit", edit_outing_path(@outing), :class => "btn btn-outline-primary" %>
      <%= link_to "Delete", outing_path(@outing), :class => "btn btn-outline-primary", method: :delete, data: {confirm: "Are you sure?"} %>  
    <% end %>
</div>

<p>

<h3>Add Food Order</h3>

<%= render 'food_orders/form' %>

<% @food_orders.each do |food_order| %>

  <p>
  Food Name:  <%= food_order.restaurant_food.name %><br>
  Food Description:  <%= food_order.restaurant_food.description %><br>
  Food Pice:  <%= food_order.restaurant_food.price %><br>
  <p>

  <% if can?(:delete, food_order) %>
    <%= link_to 'Delete', food_order_path(food_order), method: :delete %>
  <% end %>
</small>
  
  

<% end %>

