<div class="container">


<%= form_for @restaurant do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div>
    <%= f.label :web_address %>
    <%= f.text_field :web_address %>
  </div>

  <div >
    <%= f.label :restaurant_picture %>
    <%= f.file_field :restaurant_picture %>
  </div>

  <%= f.submit %>

<% end %>


</div>


<br>