<div class="container">

  <div class="restaurant-card">

      <% @restaurants.each do |restaurant| %>
        <div class="restaurant-picture"><%= image_tag restaurant.restaurant_picture, height: '100%', width: '100%'  if restaurant.restaurant_picture.attached? %></div>
        <div class="outing-details">
          <h5 class="restaurant-name"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
          <p class="restaurant-address"><%=  restaurant.address %></p>
          <p class="restaurant-phone"><%=  restaurant.phone_number %></p>
          <p class="restaurant-address"><%=  restaurant.web_address %></p>

          <p></p>
        </div>
      <% end %>

  </div>

</div>

