<h1>Show Restaurant </h1>
<p>
<h3><%= @restaurant.name %></h3>
<%=  @restaurant.address %></br>
<%=  @restaurant.phone_number %></br>
<%=  @restaurant.latitude %></br>
<%=  @restaurant.longitude%>
<%=  @restaurant.web_address %>
<p>

