<div class="container">
<p>
<div class="restaurant-picture"><%= image_tag @restaurant.restaurant_picture, height: '100%', width: '100%'  if @restaurant.restaurant_picture.attached? %></div>

<h3><%= @restaurant.name %></h3>
<%=  @restaurant.address %></br>
<%=  @restaurant.phone_number %></br>
<%=  @restaurant.web_address %>
<p>
<br>

<br>

<div class="owner-controls mb-4">
    <% if can?(:crud, @restaurant) %>
      <%= link_to "Edit", edit_restaurant_path(@restaurant), :class => "btn btn-outline-primary" %>
      <%= link_to "Delete", restaurant_path(@restaurant), :class => "btn btn-outline-primary", method: :delete, data: {confirm: "Are you sure?"} %>  
    <% end %>
</div>

<br>


<h4>Add Restaurant Food</h4>

<%= render 'restaurant_foods/form' %>


<div class="restaurant-food-card">

  <% @restaurant_foods.each do |restaurant_food| %>
    <%= image_tag restaurant_food.food_picture, height: '20%', width: '20%'  if restaurant_food.food_picture.attached? %>
    Food Name:  <%= restaurant_food.name %><br>
    Food Description:  <%= restaurant_food.description %><br>
    Food Pice:  <%= restaurant_food.price %><br>
 
    <small> 
      <% if can?(:delete, restaurant_food) %>
        <%= link_to 'Delete', restaurant_food_path(restaurant_food), method: :delete %>
      <% end %>
    </small>

  <% end %>

</div>







