<div class="container">
<p>
<h3><%= @restaurant.name %></h3>
<%=  @restaurant.address %></br>
<%=  @restaurant.phone_number %></br>
<%=  @restaurant.latitude %></br>
<%=  @restaurant.longitude%>
<%=  @restaurant.web_address %>
<p>

<div class="owner-controls mb-4">
    <% if can?(:crud, @restaurant) %>
      <%= link_to "Edit", edit_restaurant_path(@restaurant), :class => "btn btn-outline-primary" %>
      <%= link_to "Delete", restaurant_path(@restaurant), :class => "btn btn-outline-primary", method: :delete, data: {confirm: "Are you sure?"} %>  
    <% end %>
</div>


<h3>Add Restaurant Food</h3>

<%= render 'restaurant_foods/form' %>

<% @restaurant_foods.each do |restaurant_food| %>

  <p>
  Food Name:  <%= restaurant_food.name %><br>
  Food Description:  <%= restaurant_food.description %><br>
  Food Pice:  <%= restaurant_food.price %><br>
  <p>

  <small> 
  <% if can?(:delete, restaurant_food) %>
    <%= link_to 'Delete', restaurant_food_path(restaurant_food), method: :delete %>
  <% end %>
</small>
  
 


<% end %>

</div>







